* {
    margin: 0;
    padding: 0;
}

body {

}


.wrapper {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100%;
  background: grey;
  position: fixed;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-size: 20px;
  z-index: 500;
}

.sidebar-right {
  background: #B8B8B8;
  padding-top: 55px;
  left: 300px;
  transition: 0.7s;
  width: 0px;
  overflow: hidden;
}

.sidebar-right-show {
  width: 300px;
}

.search-section {
  height: 100%;
  background: whitesmoke;
  position: fixed;
  left: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
  font-size: 20px;
  transition: 1s;
  width: 0px;
  overflow: hidden;
  z-index: 500;
}

.search-section-show {
  width: 100%;
}

.sidebar a {
  color: #505050;
}

.sidebar a:hover {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.sidebar-content {
  width: 250px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-content-right {
  transition: 1s;
  transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-content-right-show {
  opacity: 1;
  visibility: visible;
}

.sidebar-content p {
  margin: 8px 0px;
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 15px !important;
}

.home {
  width: 100%;
  height: 100%;
  background: lavender;
}

.home-content {
  /* background-color: whitesmoke; */
  height: 600px;
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.home-message {
  position: absolute;
  top: 250px;
  right: 300px;
  font-size: 40px;
}

.home-message a {
  color: #505050;
}

.home-message a:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.home-img-content {
  margin-top: 100px;
  margin-right: 50px;
}
.color-block {
  width: 250px;
  height: 70px;
  background-color: lightgray;
  margin: 0px 0px 10px 0px;
}

.search-form {
  padding: 50px 0px 0px 100px !important;
  /* background: gainsboro; */
  height: 600px;
  transition: 1s;
  transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.search-form-show {
  opacity: 1;
  visibility: visible;
}

.bubbleteas {
  width: 100%;
  height: 100%;
}

.bubbleteas-content {
  background-color: silver;
  height: 700px;
  margin-top: 50px;
}

.bubble-tea-card {
  width: 300px !important;
  height: 100px;
  background-color: blue;
  margin-bottom: 60px;
}

.bubble-tea-card-img {
  width: 50px;
}

.TEST {
  background: red;
}

.blabla {
  background-color: red;
}
